.main-footer{

    display: flex;
    justify-content: space-evenly;
    padding: 10px 600px 10px 600px;
    background-color: rgb(0, 0, 0);

}


.main-footer .footer-img{

    width: 50px;
    height: 50px;
    
}