.main-section.-skill{
   
    background-color: #d48590;
    height: 730px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #031a5a;
    }

.main-section.-projetos{
    background-color: #000;
    height: 520px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #d48590;

    }
   
.main-section.-sobre{
    background-color: #031A5A;
    height: 730px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: 10px solid #000;
   
}

