.main-box {

    display: inline-block;
    background-color:#031A5A;
    box-shadow: 10px 10px 0px;
    text-align: center;
    padding: 42px 44px;

}

.main-box .main-title {

    margin-bottom: 28px;

}