.skill-tec{
    display: flex;
    font-family: "Press start 2P", sans-serif;
    font-size: 20px;
    color:#000;
}

.skill-tec .icon{

    margin-right: 25px;
}

.skill-tec .right{

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}