.title{
    font-family: "Press start 2P", sans-serif;
    font-size: 40px;
    color:#F25A70;
    text-shadow: 4px 4px #000000;
  
}

.title.-second{
    text-align: center;
    padding-top: 50px;
    text-shadow: none;
    color: #000000;
}
