   
   header {

        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #F0E3E3;
        border-bottom: 10px solid #031A5A;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }

    img { 
     
        height: 70px;
        width: 70px;

    }
    

    body {
        background-color: #B5C3C8;
        
    }
      
    nav {
        text-align: right;
    }

    a{
            display: inline-flex;
            align-items: center;
            color: #A95050;
            font-size: 20px;
            font-family: "Fira Code";
            font-weight: 500;
            text-decoration: none;
            margin-right: 30px;
         
           
    }

    a:before {
        content: "";
        background-color: #031A5A;
        height: 10px;
        width: 10px;
        margin-right: 10px;
    }

    a:hover {

        color: #F25A70

    }

    #button{

        display: inline-block;
        background-color: #031A5A;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 18px;
        padding-top: 18px;
        margin-right: 0;
        box-shadow: 5px 5px 0px #000000;
        transition: transform 250ms linear;
    }

    #button:hover {

        color: #ffffff;
        background-color: #F25A70;
        transform: scale(1.08);
      }