body {
    font-family: 'Fira code', Arial, Helvetica, sans-serif;
    background-color: #B5C3C8;
}

body, h1, h2, h3, figure, input, .main-button.-form {
    margin:0;
}

button, input{

    border: none;
    font-family: inherit;
}
